body {
  width: 100%;
  height: auto;
  background: linear-gradient(135deg, #130142, #6004f4);
  position: relative;
  overflow: auto;
  background-color: #34126e;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: azure;
  text-align: center;
  font-size: 49px;
}
.Question-box {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Quay-ve {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 20px 30px;
  width: fit-content;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Quay-ve {
  font-size: 20px;
  color: #0f0d1a;
  font-family: "Times New Roman", Times, serif;
}
.info p {
  color: #0f0d1a;
  font-size: 15px;
}
.Question-box-1 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-2 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-3 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-4 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-5 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-6 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-7 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-8 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-9 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.Question-box-10 {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
