h1 {
  color: #756ab6;
}
body {
  background-color: #d9c2f0;
}
h1 {
  text-align: center;
}
h1 {
  color: #756ab6;
  -webkit-text-stroke: 2px #2e004f;
}
.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #black;
  box-shadow: 0 0 15px #black;
}
body {
  background-color: #d9c2f0;
  font-family: "Times New Roman", Times, serif;
}
.profile-box {
  display: flex;
  align-items: center;
  gap: 25px;
  background: white;
  padding: 25px;
  width: fit-content;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2e004f;
}
.info h2 {
  margin: 0 0 10px 0;
  color: #4b006e;
}
.info p {
  margin: 3px 0;
  font-size: 16px;
  color: #333;
}
