h1 {
  color: #fafafa;
}

h1 {
  text-align: center;
}
h1 {
  font-size: 49px;
  -webkit-text-stroke: 2px #f7f7fa;
}
.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #black;
  box-shadow: 0 0 15px #black;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #130142, #6004f4);
  position: relative;
  overflow: hidden;
  background-color: #34126e;
  font-family: "Times New Roman", Times, serif;
}
.profile-box {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2e004f;
}
.info h2 {
  margin: 0 0 10px 0;
  font-size: 36px;
  color: #18032d;
}
.info p {
  margin: 3px 0;
  font-size: 26px;
  color: #333;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: #f7f7fa;
}
.social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social {
  display: flex;
  align-items: center;
  gap: 25px;
  background: white;
  padding: 20px 20px;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.social img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.social img:hover {
  transform: scale(1.15);
}
.answer-box {
  display: inline-block;
  width: 200px;
  margin: 20px auto;
  padding: 40px 40px;
  background: white;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  flex-shrink: 0;
}
.answer-box {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.row-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.skill-box {
  display: inline-block;
  width: 200px;
  margin: 20px auto;
  padding: 40px 40px;
  background: white;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  flex-shrink: 0;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
