h1 {
  color: #756ab6;
}
body {
  background-color: #d9c2f0;
}
h1 {
  text-align: center;
}
h1 {
  color: #756ab6;
  -webkit-text-stroke: 2px #2e004f;
}
.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #black;
  box-shadow: 0 0 15px #black;
}
