h1 {
  color: #0f0d1a;
}
body {
  background-color: #d9c2f0;
}
h1 {
  text-align: center;
}
h1 {
  color: #0f0d1a;
  font-size: 49px;
  -webkit-text-stroke: 2px #27093d;
}
.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #black;
  box-shadow: 0 0 15px #black;
}
body {
  background-color: #d9c2f0;
  font-family: "Times New Roman", Times, serif;
}
.profile-box {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 40px 60px;
  width: 70%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2e004f;
}
.info h2 {
  margin: 0 0 10px 0;
  font-size: 36px;
  color: #2e004f;
}
.info p {
  margin: 3px 0;
  font-size: 26px;
  color: #333;
}
